<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name = "test"  thread-count="5">
  
  <parameter name = "userName" value="srabaniadhikary@yahoo.in"></parameter>
    <parameter name = "pssword" value="Srabani@1"></parameter>
    <classes>
      <class name="com.runner.testRunner"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
